* {
  font-family: "Linux Biolinum", "Gill Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  color: #113b36;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #5f968e;
}

#game-board {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  text-align: center;
}

#button-container {
  margin-top: 30px;
  padding: 0 8px;
  height: 50px;
  width: 100%;
  background-color: rgb(226, 188, 137);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#button-container button {
  font-size: larger;
  height: 35px;
  max-width: 150px;
  flex-grow: 1;
  background-color: #c29355;
  border: none;
}

#button-container button:hover {
  background-color: #d6926b;
}

#container {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(226, 188, 137);
  overflow: hidden;
}

.grid-item {
  min-height: 3px;
  min-width: 3px;
  text-align: center;
  border-radius: 0;
  background-color: #1b524b;
}

#brush-settings {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#brush-settings .brush-opacity-button {
  margin: 5px;
  height: 25px;
  width: 25px;
  max-width: 25px;
  max-height: 25px;
  overflow: hidden;
  background-color: transparent;
}

#brush-settings .brush-opacity-button:hover {
  border: 2px solid #ac752e;
}

.brush-button-fill {
  height: 100%;
  width: 100%;
  background-color: #1b524b;
}

#brush-settings .brush-opacity-button.active {
  border: 2px solid #facd92;
}